.wrapper div button{
    background-color: #0875E2;
    border: none;
    height: 25px;
    width: 100px;
    border-radius: 3px;
    color: white;
}

.wrapper div label {
  margin-left:10px;
}

.wrapper div label input {
  margin:0px 10px;
}